<div class="bookingDetailsCard">
    <form [formGroup]="bookingForm">
        <label for="username">Username:</label>
        <input type="text" id="username" formControlName="username">

        <br><br>
        <label for="meetingRoom">Meeting Room:</label>
        <select id="meetingRoom" formControlName="meetingRoom">
            <option *ngFor="let room of meetingRoomList" value="{{room}}">{{room}}</option>
        </select>

        <br><br>
        <label for="bookingDate">Date:</label>
        <input type="date" id="bookingDate" formControlName="bookingDate">

        <br><br>
        <label for="bookingFromTime">Time From:</label>
        <input type="time" id="bookingFromTime" formControlName="bookingFromTime">

        <br><br>
        <label for="bookingToTime">Time Till:</label>
        <input type="time" id="bookingToTime" formControlName="bookingToTime">

        <br><br>
        <label for="agenda">Agenda:</label>
        <textarea id="agenda" formControlName="agenda"></textarea>

        <br><br>
        <button [disabled]="bookingForm.invalid" (click)="submitBookingRequest()">Book Now</button>
    </form>

</div>