<h1>Book a Meeting Room</h1>

<div class="bookMeetingCard">
    <form [formGroup]="bookingForm">
        <label for="username">Username:&nbsp;</label>
        <input type="text" id="username" formControlName="username">

        <br><br>
        <label for="meetingRoom">Meeting Room:&nbsp;</label>
        <select id="meetingRoom" formControlName="meetingRoom">
            <option *ngFor="let room of meetingRoomList" value="{{room}}">{{room}}</option>
        </select>

        <br><br>
        <label for="bookingDate">Date:&nbsp;</label>
        <input type="date" id="bookingDate" formControlName="bookingDate">
        <div *ngIf="bookingDate.invalid && bookingDate.touched" class="alertText">
            Booking Date is required and cannot be less than current date
        </div>

        <br><br>
        <label for="bookingFromTime">Start Time:&nbsp;</label>
        <input type="time" id="bookingFromTime" formControlName="bookingFromTime">

        <br><br>
        <label for="bookingToTime">End Time:&nbsp;</label>
        <input type="time" id="bookingToTime" formControlName="bookingToTime">

        <br><br>
        <label for="agenda">Agenda:&nbsp;</label>
        <textarea id="agenda" formControlName="agenda"></textarea>

        <br><br>
        <button [disabled]="bookingForm.invalid" (click)="submitBookingRequest()">Book Now</button>
    </form>

</div>