<h1>Meeting Room Details</h1>

<div class="bookingRoomDetailsCard" *ngFor="let meetingRoom of meetingRooms; index as i">

    <div class="roomNameHeading" *ngIf="!meetingRoom.expanded" (click)="meetingRoom.expanded = !meetingRoom.expanded;">
        {{ meetingRoom.roomName }} &nbsp;&nbsp;&nbsp;&nbsp;+
    </div>
    <div class="roomNameHeading" *ngIf="meetingRoom.expanded" (click)="meetingRoom.expanded = !meetingRoom.expanded;">
        {{ meetingRoom.roomName }} &nbsp;&nbsp;&nbsp;&nbsp;-
    </div>

    <div *ngIf="meetingRoom.expanded">
        <div class="bookingDetailsCard" *ngFor="let bookingDetails of meetingRoom.roomBookingDetails; index as j">
            <div><b>Username:</b> {{ bookingDetails.username }}</div>
            <div><b>Date:</b> {{ bookingDetails.bookingDate }}</div>
            <div><b>Time:</b> {{ bookingDetails.bookingFromTime }} - {{ bookingDetails.bookingToTime }}</div>
            <div><b>Agenda:</b> {{ bookingDetails.agenda }}</div>
            <button (click)="deleteBooking(meetingRoom.roomName,j)" class="deleteButton">Delete</button>
        </div>
    </div>

</div>

<button (click)="bookAnotherRoom()" class="bookAnotherRoomButton">Book Another Room</button>